@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap");

body {
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
}
.converter {
  width: 600px;
  height: 400px;
  background: linear-gradient(to bottom, #b3e0ff, #4d94db);
  margin: 150px auto;
  padding: 50px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 20px;
}
.title {
  margin-bottom: 10px;
  margin-top: -25px;
}
.title,
.input,
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.icon {
  font-size: 35px;
}
.input{
    gap: 0;
}
input {
  width: 300px;
  height: 20px;
  padding: 10px;
  text-align: center;
  font-size: larger;
  margin-bottom: 20px;
  border: 1px solid lightgray;
}
.unit {
  background-color: rgba(89, 114, 161, 0.477);
  width: 50px;
  height: 20px;
  padding: 10px;
  justify-content: center;
  font-size: larger;
  margin-bottom: 20px;
  font-weight: 900;
  cursor: default;
}
.btn {
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 200px;
  font-size: 18px;
  background-color: white;
}
.btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

@media screen and (max-width:1200px){
    body{
        text-align: center;
    }
    .converter{
        padding: 10px;
        width: 300px;
    }
    .title{
        font-size: small;
        margin-top: 5px;
    }
    .icon{
        display: none;
    }
    input{
        width: 150px;
    }
    .btn{
        width:100px;
    }

}